<footer class="footer">
	<small>
		Twitter-Like App by Andrei Constantinescu
	</small>
	<nav>
		<ul>
			<li><%= link_to "CV",   "http://andrei0610.github.io/cv" %></li>
			<li><%= link_to "Github",   "http://github.com/andrei0610" %></li>
		</ul>
	</nav>
</footer>